<head>
    <title>Bookings:Agencies</title>
    {% include 'bk/style.html' %}
</head>

<h1> Agencies </h1> 

{% include 'bk/links.html' %}

<table>
    <tr><th>name<td><a href="{% url 'bk:agency-add' %}">add</a></td></tr>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->
<tr>    
    <td> {{ object.name}} </td>
    <td><a href="{% url 'bk:agency-update' object.id %}">edit</a></td>
    <td><a href="{% url 'bk:agency-delete' object.id %}">delete</a></td>
<td> {{ type }} </td> 
<td> {{ agency }} </td> 
<td> {{ booking_date }} </td> 
<td> {{ event_date_from }} </td> 
<td> {{ event_date_to }} </td> 
<td> {{ name }} </td> 
<td> {{ purchase_price }} </td> 
</tr>
    <!-- If object_list is empty  -->
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
</table>
