{% include 'bk/links.html' %}
{% block content %}
<h1>Booking Detail:Stages</h1>
<div style="margin-left:20px;margin-top:20px">
<table>
<tr><th>stage date<th>seats<th>sequence<th>booking<th>flight<td><a href="{% url 'bk:stage-add' %}">add</a></tr>
{% for l in booking.stage_set.all|dictsort:"stage_date" %}
<tr>
    <td>{{ l.stage_date|date:"d-M-Y" }}</td>
    <td>{{ l.seats }} </td>
    <td>{{ l.sequence}} </td>
    <td>{{ l.booking }} </td>
    <td>{{ l.flight }} </td>
    <td><a href="{% url 'bk:stage-detail' l.pk %}">detail</a></td>
    <td><a href="{% url 'bk:stage-update' l.pk %}">edit</a></td>
    <td><a href="{% url 'bk:stage-delete' l.pk %}">del</a></td>
</tr>  
{% empty %}
  <p>This booking has no stages.</p>
{% endfor %}
</table>
</div>

{% endblock %}

