<head>
<title>Cinema ookings</title>
{% include "bk/style.html" %}
</head>

{% include 'bk/links.html' %}

{% block content %}

<h1>Cinema Bookings</h1>
<div style="margin-left:20px;margin-top:20px">
<table>
<tr><th>booked<!--<th>from<th>to--><th>for<th>cost<th>agency<!--<th>type<th>event_name--><th>notes<th>reference<th>Notes<td><a href="{% url 'bk:booking-add' %}">add</a>
</tr>
{% for l in object_list|dictsort:"booking_date" %}
<tr>
    <td>{{ l.booking_date }}</td>
    <td>{{ l.event_date_from }} </td>
    <!--<td>{{ l.event_date_to }} </td>-->
    <td>{{ l.purchase_price }} </td>
    <td>{{ l.agency }} </td>
    <!--<td>{{ l.type }} </td>
    <td>{{ l.event_name }} </td>-->
    <td>{{ l.notes }} </td>
    <td>{{ l.reference }} </td>
    <!--<td><a href="{% url 'bk:booking-detail' l.pk %}">detail</a></td>-->
    <td><a href="{% url 'bk:booking-update' l.pk %}">edit</a></td>
    <td><a href="{% url 'bk:booking-delete' l.pk %}">del</a></td>
</tr>  
{% empty %}
  <p>This type has no bookings.</p>
{% endfor %}
</table>
</div>

{% endblock %}

