<html>
 
<head>
    <title>Transactions</title>
    <style>
        .row1 {
            background: #EDF3FE;
        }
        .row2 {
            background: white;
        }
        table {
            margin-left: 50px;
            margin-top: 15px;
            column-width: 20px;
            font-size: 12px;
            border: 0;
            padding: 15px;
        }
 
        thead {
            padding: 10px;
        }
 
        tbody {
            padding: 10px;
        }
    </style>
</head>
 
<body>
<h3>Transactions for account <i>{{ account_name }}</i> period <i>{{ thismonth }}/{{ thisyear }}</i></h3>
    <div class="container">
<!--        <table border="5px solid #000;"> -->
        <table border="0" padding="0px;">
            <tbody>
 
                <thead>
                    <tr>
			<th>Frequency</th>
            		<th>Reader</th>
			<th>Vendor</th>
			<th>Receipt Date</th>
			<th>Transaction Date</th>
            		<th>Statement Date</th>
			<th>Account</th>
			<th>Tran Type</th>
			<th>Description</th>
			<th>amount</th>
			<th>Payment <br/>Type</th>
            		<th>Booking</th>
            		<th>Project</th>
			<th><a href="{% url 'tr:transaction_create' %}">Add</a></th>
                    </tr>
                    <tr>
			<td colspan="14"><a href="{% url 'tr:transaction_account_year_month_list'  account lastyear lastmonth %}">previous</a></td>
			<td><a href="{% url 'tr:transaction_account_year_month_list'  account nextyear nextmonth %}">next</a></td>
                    </tr>
 
                </thead>
            <tbody>
                {% for i in object_list %}
                <tr  class=" {% cycle "row1" "row2" %} " >
		            {% if i.frequency is not None %}
                    	<td>{{i.get_frequency_display}}</td>
		            {% else %}
		    	        <td>&nbsp;</td>
		            {% endif %}
                    {% if i.reader is not None %}
                        <td>{{i.reader.name}}</td>
                    {% else %}
                        <td>&nbsp;</td>
		    {% endif %}


                    {% if i.vendor_name is not None %}
		    <td>{{ i.vendor_name }}</td> 
		    {% else %} 
                        {% if i.vendor is None %}
			    <td>No Vendor!</td>
		        {% else %} 
		            <td>{{i.vendor}} 
			        {% if i.branch is not None %} {{i.branch}}
		    	        {% endif %}
			    </td> 
		        {% endif %}
		    {% endif %}
		    {% if i.receipt_date is None %} <td style="text-align: center; vertical-align: middle;">-</td> {% else %} <td>{{i.receipt_date}}</td> {% endif %}
		    {% if i.transaction_date is None %} <td style="text-align: center; vertical-align: middle;">-</td> {% else %} <td>{{i.transaction_date}}</td> {% endif %}
		    {% if i.statement_date is None %} <td style="text-align: center; vertical-align: middle;">-</td> {% else %} <td>{{i.statement_date}}</td> {% endif %}
		    <td>{{i.account}}</td>
		    <td>{{i.transaction_type}}</td>
		    {% if i.description is None %} <td style="text-align: center; vertical-align: middle;"></td> {% else %} <td>{{i.description}}</td> {% endif %}
		    <td>{{i.signed_amount}}</td>
                    <td>{{i.payment_type}}</td>
                    <td>{{i.booking}}</td>
		    {% if i.project is None %} <td style="text-align: center; vertical-align: middle;"></td> {% else %} <td>{{i.project}}</td> {% endif %}
		    <td><a href="{% url 'tr:transaction_update' i.pk %}">Edit</a></td>
                    <td><a href="{% url 'tr:transaction_delete' i.pk %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
 
</html>
