{% extends 'base.html' %}

{% block content %}
  <h2>Transaction Form</h2>
  <form method="post" id="transactionForm" data-branches-url="{% url 'tr:ajax_load_branches'%}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" name="add">Save</button> <button type="submit" name="addlike">Add Like</button>
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_vendor").change(function () {
      var url = $("#transactionForm").attr("data-branches-url");  // get the url of the `load_cities` view
      var vendorId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'vendor': vendorId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_branch").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
    });
  </script>
{% endblock %}
